*.out
*.class
*local.properties
*ant.properties
/src/
/tmp/
/out/
/apk/res/values/libs.xml
/*apk/bin/
/*apk/libs/
/*apk/gen/
/*apk/Makefile
/*apk/assets
/scripts/config.conf
/apk/.idea/*
/repository/*/
