*.out
*.class
*local.properties
*ant.properties
/src/
/tmp/
/out/
/apk/res/values/libs.xml
/*apk/bin/
/*apk/libs/
/*apk/gen/
/*apk/Makefile
/*apk/assets
/scripts/config.conf
/apk/.idea/*
/apk/AndroidManifest.xml
/apk/res/drawable/logo.png
/apk/project.properties
/apk/build.xml
/repository/*/
