<?xml version='1.0' encoding='utf-8'?>
<manifest package="org.qgis.qgis" android:versionCode="0" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.180" android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <application android:name="eu.licentia.necessitas.industrius.QtApplication" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name="eu.licentia.necessitas.industrius.PreStartActivity" android:noHistory="true" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="eu.licentia.necessitas.industrius.QtActivity" android:configChanges="orientation|locale|fontScale|keyboard|keyboardHidden" android:label="@string/app_name" android:screenOrientation="sensorLandscape">
            <meta-data android:name="android.app.qt_libs_resource_id" android:resource="@array/qt_libs"/>
            <meta-data android:name="android.app.bundled_libs_resource_id" android:resource="@array/bundled_libs"/>
            <meta-data android:name="android.app.lib_name" android:value="qgis"/>
            <meta-data android:name="android.app.git_rev" android:value="76244bc59ce766dca0d65918f130d3277f49c707"/>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="10"/>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
